.ant-menu {
  color: rgba(255, 255, 255, 0.85) !important;
  background: transparent !important;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: rgba(52, 152, 219, 0.3) !important;
}

.ant-menu-item:hover,
.ant-menu-submenu-title:hover {
  color: white !important;
}

.ant-menu-item::after {
  border-right: 3px solid var(--accent-color) !important;
}

.ant-menu-submenu-arrow {
  color: rgba(255, 255, 255, 0.65) !important;
}

.ant-menu-item,
.ant-menu-submenu-title {
  padding-left: 24px !important;
}
